*,
*::before,
*::after {
  box-sizing: border-box;
}

.main-admin-dash-container {
  @include flex();
  flex-direction: column;

  width: 100%;
  height: 100%;
  background-color: #fff;
  padding: 0;
  margin: 0;
  border-radius: 0;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
  h2 {
    font-style: italic;
  }
  select {
    appearance: none;
    // Additional resets for further consistency
    @include selectthing();
    border: 1px solid $cream;
    padding: 0 1em 0 0;
    margin: 0;
    width: 100%;
   
  }
  select::-ms-expand {
    display: none;
  }

  input {
    @include input();
    padding-left: 5px;
  }
  .button-dash {
    padding: 7px;
    margin: 5px;
    height: 30px;
    border-radius: 7px;
    border: none;
    background-color: $cream;
    color: black;
  }

  .admin-dash-modify-products-container {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-wrap: wrap;
  }
  .admin-dash-add-products-container {
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 1rem;
    
  
    .custom-file-input::before {
      content: 'Select a Photo..';
      display: inline-block;
      background: $cream;
      
      border-radius: 10%;
      padding: 8px 8px 8px 18px;
      outline: none;
      white-space: nowrap;
      -webkit-user-select: none;
      cursor: pointer;
      text-shadow: 1px 1px #fff;
      font-weight: 700;
      font-size: 10pt;
    }
    .custom-file-input:hover::before {
      border-color: black;
    }
    .custom-file-input:active::before {
      background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
    }
    .add-product-wrapper {
    
    }
    .preview {
      border: 2px black solid;
      padding: 2rem;
    }
  }
  .delete-container {
    margin-top: 1rem;
    border-top: 2px black solid;
  }
  .admin-dash-statistics-container {
    padding: 1rem;
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: left;
    flex-wrap: wrap;
    .quick-update-view {
      @include flex();
      flex-direction: column;
 width: 240px;
      height: 150px;
     
      box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.1);
    }
    button:disabled {
      background-color: red;
      color: black;
    }
    img {
      width: 100px;
      height: 100px;
    }
  }
}
.error-msg {
  color: red;
  font-size: 1rem;
}