.info-container {
  width: 100%;
  @include flex;
  flex-direction: column;
  background-color: rgb(174, 206, 255); // <--------- remove later

  // Header
  .info-header {
    @include flex;
    width: 90%;
    margin-top: 10px;

    h4 {
      font-size: 22px;
      text-decoration: underline;
    }
  }

  // Contact Info
  .contact-info {
    @include flex;
    flex-direction: column;
    width: 90%;

    .phone,
    .mail {
      @include flex;
      flex-direction: column;
      h5 {
        font-size: 17px;
      }
    }

    a {
      font-size: 15px;
    }
  }

  // Address
  .location {
    @include flex;
    flex-direction: column;
    width: 90%;

    h5 {
      font-size: 17px;
    }

    p {
      font-size: 15px;
    }
  }

  .info-header,
  .contact-info,
  .location {
    margin-bottom: 10px;
  }
}
