.wrapper-contact {
  @include flex;
  flex-direction: column;
  width: 100%;
  height: 550px;

  // Contact Form
  .form-container {
    width: 90%;
    height: 32rem;
    @include flex;
    flex-direction: column;
    position: relative;
    background-color: rgba(
      63,
      63,
      63,
      0.5
    ); // <- Change later (Color for Contact Form Background)
    border-radius: 20px;

    form {
      @include flex;
      flex-direction: column;
      width: 100%;
      position: absolute;
      margin: 0 1rem;

      label {
        width: 100%;
        position: relative;
        @include flex;
        padding-bottom: 20px;

        h5 {
          position: absolute;
          top: -7px;
          left: 10%;
          padding: 0 5px;
        }

        input {
          width: 95%;
          height: 30px;
          border-radius: 7px;
          border: none;
          padding-left: 5px;
          // outline: transparent;
        }

        textarea {
          width: 95%;
          height: 250px;
          padding-top: 10px;
          padding-left: 5px;
          resize: none;
          border-radius: 7px;
          border: none;
        }
      }

      // Submit Button
      .form-btn {
        width: 95%;
        height: 30px;
        border-radius: 7px;
        border: none;
        background-color: rgb(74, 159, 255);
        color: white;
      }

      // Fieldset with calendar setup
      fieldset {
        width: 95%;
        margin-bottom: 1rem;
        border-radius: 7px;
        background-color: white;

        h5 {
          position: absolute;
          top: 8.5rem;
          left: 10%;
          padding: 0 5px;
        }
      }
    }
  }
}

// Calendar setup
.calendar {
  width: 14.8rem;
  border-radius: 5px;
}