// Contact form container
.wrapper-contact {
  @include flex;
  flex-direction: column;
  width: 100%;
  height: 550px;

  // Contact Form
  .form-container {
    width: 90%;
    height: 33rem;
    @include flex;
    flex-direction: column;
    position: relative;
    border-radius: 20px;

    form {
      @include flex;
      flex-direction: column;
      width: 100%;
      position: absolute;
      margin: 0 1rem;

      label {
        width: 100%;
        position: relative;
        @include flex;
        padding-bottom: 20px;

        h5 {
          position: absolute;
          top: -16px;
          left: 10%;
          padding: 0 5px;
        }

        input {
          width: 95%;
          height: 30px;
          border-radius: 7px;
          border: thin solid $blue;
          padding-left: 5px;
          -webkit-box-shadow: 2px 2px 7px 2px $light-blue; 
          box-shadow: 2px 2px 7px 2px $light-blue;
        }

        textarea {
          width: 95%;
          height: 250px;
          padding-top: 10px;
          padding-left: 5px;
          resize: none;
          border-radius: 7px;
          border: thin solid $blue;
          -webkit-box-shadow: 2px 2px 7px 2px $light-blue; 
          box-shadow: 2px 2px 7px 2px $light-blue;
        }
      }

      // Submit Button
      .form-btn {
        width: 95%;
        height: 30px;
        border-radius: 7px;
        color: $blue;
        background-color: $white;
        border: thin solid $blue;
        -webkit-box-shadow: 2px 2px 7px 2px $light-blue; 
        box-shadow: 2px 2px 7px 2px $light-blue;
        font-size: large;
        font-weight: bold;
      }

      // Fieldset with calendar setup
      fieldset {
        width: 95%;
        margin-bottom: 1rem;
        border-radius: 7px;
        background-color: $white;
        border: thin solid $blue;
        -webkit-box-shadow: 2px 2px 7px 2px $light-blue; 
          box-shadow: 2px 2px 7px 2px $light-blue;

        h5 {
          position: absolute;
          top: 8.4rem;
          left: 10%;
          padding: 0 5px;
        }
      }
    }
  }
}

// Calendar setup

.calendar {
  border-radius: 5px;
}

.react-datetime-picker__wrapper {
  display: flex;
  border-radius: 5px;
  border: none;
}

// Response message setup
.form-response {
  width: 100vw;
  margin: 1rem;
  text-align: center;
  font-weight: bold;
}