.coocie {
    .cookie-bar {
        position: fixed;
        width: 100%;
        top: 93vh;
        right: 0;
        left: 0;
        height: 50px;
        text-align: center;
        line-height: 30px;
        background: linear-gradient(lighten($dark-green, 10%), darken($dark-green, 10%));
        color: white;
        font-size: 16px;
        font-family: "Lato", sans-serif;
        font-weight: 100;
        transition: .8s;
        animation: slideIn .8s;
        animation-delay: .8s;
        z-index: 9999;
        
        .themessage {
          white-space: nowrap;
          text-shadow: 0 1px 0 darken($dark-green, 10%);
          @media (max-width: 767px){
            display: none;
          }
        }
        .themobile {
          display: none;
          @media (max-width: 767px){
            display: inline-block;
          }
        }
      }
      @keyframes slideIn {
        0% {
            transform: translateY(100px);
        }
        100% {
         
          transform: translateY();
        }
      }
      .close-cb {
        border: none;
        color: white;
        background: darken($dark-green, 20%);
        position: absolute;
        display: inline-block;
        right: 10px;
        top: 0;
        cursor: pointer;
        border-radius: 3px;
        box-shadow: inset 0 0 3px 0 rgba(0,0,0,.2);
        line-height: 30px;
        height: 50px;
        width: 30px;
        font-size: 16px;
        font-weight: bold;
        &:hover {
          background: darken($dark-green, 10%);
        }
      }
      .checkbox-cb {
        display: none;
        &:checked + .cookie-bar {
          transform: translateY(-50px);
        }
      }
      a {
        color: rgb(92, 242, 255);;
      }
}