// Home page Mobile setup

// The entire div component setup
.home {
  width: 100vw;
  height: auto;
  margin-top: 4rem;
  @include flex;
  flex-direction: column;

  // Background image
  .bg-home {
    width: 100vw;
    height: 130vh;
    position: fixed;
    top: 0;
    z-index: -1;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      filter: grayscale(50%) opacity(95%);
      position: fixed;
    }
  }

  .bg-services {
    width: 100vw;
    height: 65vh;
    position: absolute;
    top: 0;
    z-index: -1;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      filter: grayscale(50%) opacity(95%);
    }
  }

  // Top div which includes the roof div, h1 and the p tag

  .home-top {
    width: 100%;
    height: auto;
    @include flex;
    flex-direction: column;

    // Roof div
    .roof {
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 40vw 10vh;
      border-color: transparent transparent rgb(204, 204, 204);
      margin: 1em 0;
      opacity: 0.7;
    }

    // h1 (Casa Verde title)
    h1 {
      position: absolute;
      margin-right: 1.5em;
      z-index: 1;
      color: white;
      font-size: 2.25rem;
    }

    .header-rental {
      font-size: 2.5rem;
      //   background: linear-gradient(
      //     90deg,
      //     $orange,
      //     $violet,
      //     $green,
      //     $blue,
      //     $red,
      //     $dark-green
      //   );
      //   background-clip: text;
      //   -webkit-text-fill-color: transparent;
    }

    .subheader-rental {
      width: 12rem;
      font-size: 1.1rem;
      margin-top: 2rem;
    }

    // First p tag after h1 (RAUM FÜR IDEEN - Casa Verde Motto)
    h1 + p {
      position: absolute;
      margin-top: 2.5em;
      margin-left: 1.2em;
      width: 10em;
      background-color: $green;
      opacity: 0.7;
      padding: 0.2em 0;
      text-align: center;
    }
  }

  .absolut {
    position: relative;
    top: 4rem;
  }

  // Ul for the buttons/links
  ul {
    width: 75vw;
    list-style: none;

    // Li setup
    li {
      height: 2em;
      margin-bottom: 1em;
      padding-top: 0.5em;
      border: black solid 1px;
      border-radius: 1em;
      text-align: center;

      // Links setup
      a {
        text-decoration: none;
      }
    }
  }

  // Card elements setup
  .card-element {
    width: 80vw;
    @include flex;
    flex-direction: column;
    margin: 2rem;
    text-align: center;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 1em;
    position: relative;

    .container-blur {
      width: 100%;
      height: 100%;
      backdrop-filter: blur(3px);
      background-color: rgba(255, 255, 255, 0.3);
      position: absolute;
      z-index: -1;
      border-radius: 1em;
    }

    // Top of the card including the name and logo
    .card-top {
      width: 100%;
      height: 4.5rem;
      @include flex;
      justify-content: space-between;

      h3 {
        font-size: 1.1rem;
        text-align: left;
        padding-left: 5%;
        z-index: 5;
      }

      .container-card-logo {
        width: 5.4rem;
        height: 3.35rem;
        position: absolute;
        top: 0;
        right: 0;

        .logo-colors {
          position: absolute;
          bottom: 0;
          width: 2.25rem;
          height: 0.9rem;
          border-radius: 100%;
          background-color: $orange;
          opacity: 60%;
          margin-left: auto;
          margin-right: auto;
          left: 0;
          right: 0;
        }

        .orange {
          left: -2.2rem;
        }

        .violet {
          transform: rotate(45deg);
          bottom: 0.75rem;
          left: -1.5rem;
          background-color: $violet;
          z-index: 1;
        }

        .green {
          transform: rotate(90deg);
          bottom: 1.3rem;
          background-color: $green;
          z-index: 2;
        }

        .blue {
          transform: rotate(-45deg);
          bottom: 0.75rem;
          left: 1.5rem;
          background-color: $blue;
          z-index: 3;
        }

        .red {
          left: 2.2rem;
          background-color: $red;
          z-index: 4;
        }
      }
    }

    .container-description {
      width: 85%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-bottom: 1rem;

      p {
        font-size: 1rem;
        text-align: justify;
      }
    }

    .container-image {
      width: 90%;
      height: 5rem;
      display: flex;
      justify-content: flex-end;

      img {
        height: 100%;
      }
    }

    // Card Bottom (Button)
    .container-bottom-btn {
      width: 100%;
      height: 3.5rem;
      border-radius: 0 0 1em 1em;
      opacity: 80%;
      @include flex;
      justify-content: flex-end;

      // Card button setup

      a {
        button {
          padding: 0 1.5rem;
          width: 10rem;
          height: 1.75rem;
          border-radius: 0.25rem 0.25rem 0.8rem 0.25rem;
          background-color: rgba(255, 255, 255, 0.8);
          border: none;
          font-size: 0.7rem;
          box-shadow: 0.15rem 0.15rem 0.35rem rgba(0, 0, 0, 0.7);
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
          margin-right: 0.75rem;
        }

        &:hover {
          button {
            background-color: rgba(255, 255, 255, 1);
            border-radius: 0.25rem 0.25rem 0.4rem 0.25rem;
          }
        }
      }
    }

    // Colors for Card Bottom
    .bg-shop {
      background-color: $violet;
    }

    .bg-deco {
      background-color: $green;
    }

    .bg-events {
      background-color: $dark-green;
    }

    .bg-rental {
      background-color: $orange;
    }

    .bg-ballet {
      background-color: $red;
    }

    .bg-technical {
      background-color: $blue;
    }
  }

  // House -> Buttons -> Home
  .wrapper-btn-house {
    width: 80vw;
    height: 50vh;
    @include flex;
    flex-direction: column;
    justify-content: space-evenly;

    .container-btn-house {
      width: 100%;
      height: 10%;
      position: relative;
      margin-top: 0.4rem;

      button {
        width: 100%;
        height: 100%;
        border-radius: 1rem;
        border: none;
        opacity: 50%;
        position: absolute;
      }

      .container-btn-blur {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(190, 190, 190, 0.05);
        backdrop-filter: blur(3px);
        border-radius: 1rem;
      }

      .container-categorys {
        color: rgb(255, 255, 255);
        width: 100%;
        height: 100%;
        position: absolute;
        @include flex;
        font-size: 0.8rem;
      }

      &:hover {
        .container-btn-blur {
          display: none;
        }

        .container-categorys {
          text-decoration: underline;
        }
      }

      // Colors for Buttons
      .btn-shop {
        background-color: $violet;
      }

      .btn-deco {
        background-color: $green;
      }

      .btn-events {
        background-color: $dark-green;
      }

      .btn-rental {
        background-color: $orange;
      }

      .btn-ballet {
        background-color: $red;
      }
      .btn-technical {
        background-color: $blue;
      }
    }
  }

  // Background Image Events

  // Wrapper Home Section
  .wrapper-event-section {
    width: 100vw;
    height: 60vh;
    position: relative;
    @include flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 1rem;

    .bg-events,
    .bg-services {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      z-index: -1;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        filter: grayscale(50%) opacity(95%);
      }
    }

    .container-buttons-roof {
      height: 100%;
      width: 100%;
      @include flex;
      flex-direction: column;

      .events {
        height: 50%;
        width: 80%;
        max-width: 80%;
        justify-content: flex-start;
        .container-events {
          height: 13%;
          margin: 1rem 0;
        }
      }

      .container-contact-btn {
        width: 80%;
        max-width: 80%;
        height: 7%;
        justify-self: flex-end;
        position: relative;

        .container-contact-blur {
          position: absolute;
          top: 0;
          width: 100%;
          height: 100%;
          background-color: rgba(190, 190, 190, 0.05);
          backdrop-filter: blur(3px);
          border-radius: 1rem;
          z-index: -1;
        }

        &:hover {
          .container-contact-blur {
            display: none;
          }
        }
        button {
          width: 100%;
          height: 100%;
          background-color: rgba(255, 255, 255, 0.7);
          border: none;
          border-radius: 1rem;
        }
      }
    }

    // House -> Buttons -> Deco-Services
    .deco-services {
      height: 50%;
      width: 80%;
      max-width: 80%;
      justify-content: flex-start;

      .container-deco-services {
        height: 13%;
        margin-bottom: 1rem;
      }
    }
  }
}
