// Google Map
.map-container {
  @include flex;
  width: 100%;
  height: 22rem;
  background-color: lightgray; // <--------- remove later

  iframe {
    border: none;
    border-radius: 5px;
    width: 90%;
    height: 300px;
  }
}
