// Import style components
/* Media Query for Mobile Devices */
// @media (max-width: 480px) {
@import "./home";
@import "./footer";
@import "./navigation";
@import "./contactForm";
@import "./map";
@import "./contactInformation";
@import "./shopLandingpageSlider"; // }
