// Navigation setup

// Nav setup
header nav {
  background-color: $cream;

  .nav-top {
    padding: 0 0.7rem;
    @include flex;
    justify-content: space-between;
    height: 4rem;
  }
  .none {
    width: 0;
    height: 0;
    transition: 0.7s;
    overflow: hidden;
  }
}

// Logo setup
.logo {
  width: 6.5rem;
  height: 6.5rem;
}

// Hamburger menu setup
.hamburger {
  @include flex;
  flex-direction: column;
}

// Hamburger menu content
.menu-top,
.menu-center,
.menu-bottom {
  width: 1.5em;
  height: 0.25em;
  margin: 0.07em;
  background-color: black;
  border: black solid 1px;
  border-radius: 1em;
}

// Hamburger menu (Casa roof)
.menu-roof {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0.8em 0.6em;
  border-color: transparent transparent black;
  margin-bottom: 0.1em;
}

// Open nav setup
.open {
  .menu-roof {
    position: relative;
    transform: rotate(30deg);
    bottom: 0.2em;
    right: -0.2em;
    transition: 0.2s;
  }
}

// Close nav setup
.close {
  transition: 0.2s;
}

// Show nav setup
.show {
  width: 100vw;
  height: 93vh;
  position: relative;
  float: right;
  @include flex;
  align-items: flex-start;
  justify-content: space-evenly;
  flex-direction: column;
  background-color: $cream;
  transition: 0.7s;
  z-index: 10;

  // Li setup
  li {
    width: 100%;
    padding-left: 1em;
    list-style: none;
  }

  // Link's setup
  a {
    width: 100%;
    text-decoration: none;
    text-align: center;
  }

  // Animation for open the navigation
  animation: scale-up-tr 0.7s cubic-bezier(0.39, 0.575, 0.565, 1) forwards;
}

// Ul display none
.hide {
  width: 100vw;
  height: 93vh;
  position: relative;
  float: right;
  @include flex;
  align-items: flex-start;
  justify-content: space-evenly;
  flex-direction: column;
  background-color: $cream;
  transition: 0.7s;
  overflow: hidden;

  // Li setup
  li {
    width: 100%;
    padding-left: 1em;
    list-style: none;
  }

  // Link's setup
  a {
    width: 100%;
    text-decoration: none;
    text-align: center;
  }
  animation: scale-down-tr 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) backwards;
}

// Ul display none
.user-none {
  height: 0;
  display: none;
  transition: 2s;
  overflow: hidden;
}

// Show nav setup
.user-show {
  z-index: 13;
  width: 50vw;
  height: 20vh;
  top: 4rem;
  right: 0px;
  position: absolute;
  float: right;
  @include flex;
  align-items: flex-start;
  justify-content: space-evenly;
  flex-direction: column;
  background-color: $cream;
  transition: 2s;
  border-radius: 5px;

  // Link's setup
  a {
    text-decoration: none;
  }
}
// added by me Hamza ,just at the moment to look nice we change it later
.nav-user {
  @include flex;
  justify-content: space-evenly;
  width: 30vw;

  // Li setup
  li {
    padding-left: 1em;
    list-style: none;
    color: black;
    font-weight: bold;
    text-decoration: none;
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2021-11-15 11:20:54
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation scale-up-tr
 * ----------------------------------------
 */
@-webkit-keyframes scale-up-tr {
  0% {
    display: none;
  }
  1% {
    display: flex;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
  }
}
@keyframes scale-up-tr {
  0% {
    display: none;
  }
  1% {
    display: flex;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2021-11-15 11:29:55
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation scale-down-tr
 * ----------------------------------------
 */
@-webkit-keyframes scale-down-tr {
  0% {
    display: flexbox;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
  }
  99% {
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
  }
  100% {
    display: none;
  }
}
@keyframes scale-down-tr {
  0% {
    display: flexbox;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
  }
  99% {
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
  }
  100% {
    display: none;
  }
}
