// Navigation setup

// Nav setup
header nav {
  background-color: $cream;

  .nav-top {
    padding: 0 .7rem;
    @include flex;
    justify-content: space-between;
    height: 4rem;
  }
}

// Logo setup
.logo {
    width: 6.5rem;
    height: 6.5rem;
}

// Hamburger menu setup
.hamburger {
  @include flex;
  flex-direction: column;
}

// Hamburger menu content
.menu-top,
.menu-center,
.menu-bottom {
  width: 1.5em;
  height: 0.25em;
  margin: 0.07em;
  background-color: black;
  border: black solid 1px;
  border-radius: 1em;
}

// Hamburger menu (Casa roof)
.menu-roof {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 .8em .6em;
  border-color: transparent transparent black;
  margin-bottom: 0.1em;
}

// Open nav setup
.open {
  .menu-roof {
    position: relative;
    transform: rotate(30deg);
    bottom: .2em;
    right: -0.2em;
    transition: 0.2s;
  }
}

// Close nav setup
.close {
  transition: 0.2s;
}

// Ul display none
.none {
  height: 0;
  display: none;
  transition: 2s;
}

// Show nav setup
.show {
  width: 100vw;
  height: 95vh;
  position: relative;
  float: right;
  @include flex;
  align-items: flex-start;
  justify-content: space-evenly;
  flex-direction: column;
  background-color: $cream;
  transition: 2s;

  // Li setup
  li {
    padding-left: 1em;
    list-style: none;
  }

  // Link's setup
  a {
    text-decoration: none;
  }
}


// Ul display none
.userNone {
  height: 0;
  display: none;
  transition: 2s;
}

// Show nav setup
.userShow {
  z-index: 13;
  width: 40vw;
  height: 20vh;
  top: 4rem;
  right: 0px;
  position: absolute;
  float: right;
  @include flex;
  align-items: flex-start;
  justify-content: space-evenly;
  flex-direction: column;
  background-color: $cream;
  transition: 2s;

  // Link's setup
  a {
    text-decoration: none;
  }
}
// added by me Hamza ,just at the moment to look nice we change it later 
.nav-user {
  @include flex;
  justify-content: space-evenly;
  width: 30vw;

   // Li setup
  li {
    padding-left: 1em;
    list-style: none;
    color: black;
    font-weight: bold;
    text-decoration: none; 
  }
}
