*,
*::before,
*::after {
  box-sizing: border-box;
  font-style: italic;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid black;
  -webkit-text-fill-color: black;
  -webkit-box-shadow: 0 0 0px 1000px $cream inset;
  transition: background-color 5000s ease-in-out 0s;
}

input:focus,
input:active,
a:hover {
  color: inherit;
  text-decoration: inherit;
}

.button-dash {
  padding: 1rem;
  margin: 1rem;
  height: 30px;
  border-radius: 7px;
  border: none;
  background-color: $cream;
  color: black;
  flex-direction: column;
  justify-content: space-evenly;
}
.register-container {
  a {
    @include linkbutton;
  }
  width: 100%;
  height: 100%;
  max-width: 400px;
  margin: auto;
  padding: 5vw 0 0vw 0;
  @include flex();
  flex-direction: column;
  //box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.1);
  input {
    margin: 10px 0 10px 0;
    @include input();
    
  }
}
.login-container,
.reset-container,
.forget-container,
.verify-container {
  a {
    @include linkbutton;
  }
  @include flex();
  flex-direction: column;
  width: 97%;
  height: 100%;
  max-width: 400px;
  border-radius: 0;
  margin: auto;
  padding: 10vw 0 4vw 0;
  input {
    margin: 10px 0 10px 0;
    @include input();
  }

  h3 {
    padding: 0.5rem;
  }
}
//password eye hide and show

.password {
  width: 100%;
  @include flex;
background-color: $cream;
  height: 30px;
  border-radius: 7px;
  margin: 2px 0 2px 0;
  input {
    @include input();
    width: 90%;
  }

  .iconPass {
    width: 10%;
    height: 30px;
    font-size: 18px;
    @include flex;
    
  }
}
