.home {
  .wrapper-img-services {
    .container-test {
      position: relative;
      width: 100vw;
      @include flex;
      overflow: hidden;
      flex-direction: column;
      .container-two {
        @include flex;
        flex-wrap: wrap;

        .img-container {
          width: 40%;
          height: 40%;
          margin-bottom: 4%;
          @include flex;

          img {
            width: 90%;
            height: 90%;
            justify-self: left;
          }
        }
      }

      button {
        width: 50%;
        height: 2rem;
        position: absolute;
        bottom: 5%;
        background-color: rgba(255, 255, 255, 0.8);
        border-radius: 0.25rem;
        border: none;
        font-size: 1rem;
      }
    }
  }
}
