.slider-wrapper {
  width: 100vw;
  height: 70vh;
  position: relative;
  margin-bottom: 1rem;

  // Slider Images
  .slide {
    position: absolute;
    opacity: 0;
    width: 100%;
    height: 100%;
    transition: opacity ease-in-out 0.5s;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .active-slide {
    opacity: 1;
  }

  // Slider Icons
  .silder-icon {
    position: absolute;
    bottom: 1rem;
    font-size: 2rem;
    color: white;
  }
  .left {
    left: 1rem;
  }
  .right {
    right: 1rem;
  }

  // Slider Dots
  .container-dots {
    @include flex;
    justify-content: space-evenly;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    bottom: 1rem;
    width: 8.5rem;
    height: 2rem;

    .dot {
      width: 1.1rem;
      height: 1.1rem;
      border-radius: 50%;
      border: 0.2rem solid white; // <-- Color
      background-color: white; // <-- Color
    }
    .active {
      background-color: black; // <-- Color
    }
  }

  .container-btn-slider {
    width: 90%;
    height: 70%;
    position: absolute;
    @include flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;

    button {
      width: 90%;
      height: 2.5rem;
      background-color: rgba(255, 255, 255, 0.75);
      border: none;
      border-radius: 1.2rem;
      font-size: 1rem;
    }

    .container-shop-header {
      width: 100%;
      @include flex;
      flex-direction: column;
      h1,
      h2 {
        font-size: 1.7rem;
      }

      h1 {
        padding: 0;
        align-self: flex-start;
      }

      h2 {
        align-self: flex-end;
      }
    }
  }
}
