.single-page-product-details {
  height: auto;
  width: 100vw;
  margin-top: 6rem;
  @include flex;
  flex-direction: column;

  a {
    align-self: flex-start;
    margin: 0.5rem;

    .link-back {
      @include flex;
    }
  }

  .productCard-main-container {
    width: 100%;
    box-shadow: none;

    .product-box {
      .product-infos {
        padding: 0 1rem;

        p:nth-child(5) {
          margin-bottom: 1rem;
        }

        p:nth-child(6) {
          display: block;
          color: rgb(105, 105, 105);
        }

        .product-buttons {
          align-self: center;
          width: 80%;
        }
      }
    }

    img {
      width: 100%;
      height: 25rem;
      object-fit: cover;
    }
  }
}
