.shop {
  h1 {
    text-align: center;
  }
  input,
  select {
    @include input;
    max-width: 80vw;
    // box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1);
  }
  select {
    appearance: none;
    // box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1);
    padding: 0 1em 0 0;
    margin: 0;
    max-width: 30vw;
    @include selectthing();
  }
  select::-ms-expand {
    display: none;
  }
}

.products {
  @include flex;
  flex-wrap: wrap;
}

// .product {
//     width:9.6rem;
//     height: 21rem;
//     margin: 1rem;
//     border: blue 1px solid;
//     img {
//         width: 9.5rem;
//         height: 9.5rem;
//         border: red 1px solid;
//     }
// }
.search-result {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.space-for-results {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.search-container {
  @include flex();
  flex-direction: row;
  flex-wrap: wrap;
  border: 1px dashed red;

  .search-bar {
    width: 80%;
    height: auto;
    @include flex;
    border: 2px solid black;
    margin-bottom: 1rem;
    border-radius: 1rem;

    .search-icon {
      margin-left: 0.5rem;
    }

    input {
      margin: 1px 0.5rem;
      border: transparent;
    }
  }
}
.filters {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  width: 95%;
  div {
    @include flex();

    display: flex;
    flex-direction: row;
  }
  div:nth-child(1) {
    width: 50%;
    padding-right: 15px;
  }
  // div:nth-child(2) {

  //     width: 50%;
  // }
}
