a {
  text-decoration: none;
  color: black;
}
.productCard-main-container {
  padding: 0 5px;

  .product-box {
    @include flex;
    flex-direction: column;
    width: 100%;
    border: 1px dashed green;
  }
  .product-infos {
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    border: 1px dashed blue;

    p:nth-child(6) {
      display: none;
    }

    p {
      margin-bottom: 0.25rem;
      text-overflow: ellipsis;
    }
  }
  .product-infos div {
    //border: 1px solid black;
    width: 90%;
    display: flex;
    justify-content: space-evenly;

    button {
      font-size: 25px;
      border: none;
      display: flex;
      align-items: center;
      background-color: transparent;
    }
  }
  .product-buttons {
    width: 100%;
    display: flex;
    align-self: center;
  }
  img {
    width: 100%;
    height: 240px;
    object-fit: cover;
    //border: red 1px solid;
    margin-bottom: 0.5rem;
  }
  .total-price {
    @include flex();

    height: 1rem;
    padding-bottom: 10px;
    p {
      font-weight: bold;
    }
  }
}
