a {
  text-decoration: none;
  color: black;
}

.productCard-main-container {
  margin: 0 10px;
  // border: 1px solid rgb(117, 117, 117);
  border-radius: 0 0 8px 8px;
  box-shadow: 0.2rem 0.1rem 0.7rem rgba(0, 0, 0, 0.35);

  .product-box {
    @include flex;
    flex-direction: column;
    width: 100%;

    img {
      width: 100%;
      height: 180px;
      object-fit: cover;
      margin-bottom: 0.5rem;
    }
  }
  .product-infos {
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding: 0 5px;

    p:nth-child(6) {
      display: none;
    }

    p {
      margin-bottom: 0.25rem;

      font-style: normal;
    }

    // Product Name
    p:nth-child(1) {
      font-size: 1.2rem;
      color: rgb(80, 80, 80);
      margin: 0;
    }

    // Product Category
    p:nth-child(2) {
      color: rgb(175, 175, 175);
      margin-bottom: 1rem;
    }

    // Product Price
    p:nth-child(3) {
      font-size: 1.4rem;
      font-weight: bold;

      span {
        font-size: 0.85rem;
        font-style: normal;
        font-weight: lighter;
        color: rgb(160, 160, 160);
      }
    }

    // Product in Stock
    p:nth-child(4) {
      margin-bottom: 1rem;
    }

    .product {
      color: rgb(201, 0, 0);
      font-style: normal;
      font-weight: bold;
      font-size: 1.1rem;
    }

    .green {
      color: rgb(0, 100, 0);
    }

    // DELIEVERABLE or NOT DELIEVERABLE
    p:nth-child(5) {
      color: rgb(161, 137, 0);
    }

    // Add Product && Wishlist && Remove
    .product-buttons {
      margin: 1rem 0;
      width: 100%;
      @include flex;
      justify-content: space-evenly;

      .counter {
        margin: 0;
        font-size: 1.2rem;
        color: rgb(65, 65, 65);
      }

      p {
        font-size: 1rem;
      }

      .counter-green {
        color: rgb(0, 100, 0);
      }

      button {
        font-size: 25px;
        border: none;
        display: flex;
        align-items: center;
        background-color: transparent;

        .icon {
          font-size: 1.2rem;
        }
      }
    }
  }

  // Price
  .total-price {
    @include flex();
    height: 1rem;
    padding-bottom: 10px;
    p {
      font-weight: bold;
    }
  }
}

// Product mouse animation 
.card {
  border-radius: 5px;
  background-size: cover;
  background-position: center center;
  box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.5s;
  will-change: transform;
  border: 1px solid white;
}