.shop {
  h1 {
    text-align: center;
  }
  input,
  select {
    @include input;
    max-width: 80vw;
    // box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1);
  }
  select {
    appearance: none;
    // box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1);
    padding: 0 1em 0 0;
    margin: 0;
    max-width: 30vw;
    @include selectthing();
  }
  select::-ms-expand {
    display: none;
  }

  // Products for Search
  .search-result {
    width: 100vw;
    .space-for-results {
      width: 100%;
      display: flex;
      flex-direction: row;

      .productCard-main-container {
        margin: 0 10px 1rem 10px;
        border-radius: 0 0 8px 8px;
        box-shadow: 0.2rem 0.1rem 0.7rem rgba(0, 0, 0, 0.35);
        width: 45%;

        .product-box {
          @include flex;
          flex-direction: column;
          width: 100%;

          img {
            width: 100%;
            height: 180px;
            object-fit: cover;
            margin-bottom: 0.5rem;
          }
        }
      }
    }
  }
}

.products-container {
  width: 100%;

  h2 {
    background-color: #3279510c;
    text-align: center;
    padding-bottom: 1rem;
    padding-top: 0.2rem;
    margin-top: 0.5rem;
  }

  .products {
    @include flex;
    flex-wrap: wrap;
    width: 100%;
    background-color: #3279510c;

    .container-product {
      width: 50%;
      min-width: 11rem;
      margin-bottom: 1.5rem;
      position: relative;

      .product-icon {
        cursor: pointer;
        border-radius: 0.4rem;
        background-color: #32795193;
        padding: 0.4rem 0.6rem;
        position: absolute;
        top: 0.3rem;
        right: 0.9rem;
        font-size: 0.6rem;
        color: white;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

.search-container {
  @include flex();
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 0.75rem;

  .search-bar {
    width: 95%;
    height: auto;
    @include flex;
    border: 1px solid black;
    margin-bottom: 1rem;
    border-radius: 1rem;

    .search-icon {
      margin-left: 0.5rem;
    }

    input {
      margin: 1px 0.5rem;
      border: transparent;
    }
  }
}
.filters {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  width: 95%;

  div {
    @include flex;

    select {
      border: 1px solid black;
      border-radius: 1rem;
      padding: 0 0.5rem;
      text-overflow: ellipsis;
      margin-left: 0.2rem;
      width: 60%;
    }
  }
  // div:nth-child(1) {
  //   width: 50%;
  //   padding-right: 15px;
  // }
  // div:nth-child(2) {

  //     width: 50%;
  // }
}
