// Import style components
/* Media Query for Mobile Devices */
@media (min-width: 1025px) {
  @import "./navigation";
  @import "./contactInformation";
  @import "./contactForm";
  @import "./map";
  @import "./gallery";
  @import "./basket";
  @import "./home";
  @import "./shop";
  @import "./shopItem";
  @import "./shopitemDetails";
  @import "./shopSlider";
  @import "./about";
  @import "./footer";
  @import "./editUser";

  
}
