
.flowershopclass {



$font-size: 15px; // Change value to scale
.abholungs {
    aside {
        @include flex;
        flex-direction: column;
        width: 100%;
        padding: 1rem 0 1rem 0;}
   ul, h4 ,li{color:$white;
z-index:-3;

}
    
    
}
@mixin absolute-horizontal-center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

@mixin circle($size) {
  width: $size;
  height: $size;
  border-radius: 50%;
}

@mixin mirror-shine {
  height: 150%;
  width: 1.875em;
  color: rgba($white, 0.1);
  background-color: currentColor;
  transform: rotate(45deg);
  box-shadow: -1.875em 0 0 -0.625em;
  z-index: 1;
}

.shop {
  font-size: $font-size;
  position: relative;
  width: 28em;
  height: 27.1875em;
  box-sizing: border-box;
  background-color: $stromboli;
}

.shop__roof {
  @include absolute-horizontal-center;
  top: 0;
  width: calc(100% + 2.25em);
  height: 6.5em;
  background-color: $everglade;

  // gutter
  &::before {
    content: "";
    @include absolute-horizontal-center;
    bottom: 0;
    width: calc(100% + 2.5em);
    height: 1.875em;
    background-color: $apple;
  }

  // shadow
  &::after {
    content: "";
    @include absolute-horizontal-center;
    bottom: -0.9375em;
    width: calc(100% - 2.25em);
    height: 0.9375em;
    background-color: inherit;
  }
}

.shop__nameContainer {
  @include absolute-horizontal-center;
  top: 0.3125em;
  width: 90%;
  height: calc(100% - 2.5em);
  background-color: $stromboli;
  box-sizing: border-box;
  border: 0.4375em solid $viridian;

  display: flex;
  align-items: center;
  justify-content: center;
}

.shop__name {
  font-family: "Roboto Slab", serif;
  font-size: 3em;
  font-weight: 700;
  letter-spacing: 0.1875em;
  text-transform: uppercase;
  color: $coconut-cream;
}

.shop__curvedPlant {
  position: absolute;
  top: -2.09375em;
  left: -3.125em;
  width: 4.5625em;
  height: 11.0625em;
  border: 2.0625em solid $salem;
  border-right: 0;
  border-bottom: 0;
  box-sizing: border-box;
  border-radius: 4.5625em 0 0 0;
  z-index: -2;

  // makes edge rounded
  &::before {
    content: "";
    position: absolute;
    @include circle(2.0625em);
    background-color: $salem;
    left: -2.0625em;
    bottom: -1.03125em;
  }

  // leaves
  &::after {
    content: "";
    @include circle(2.375em);
    position: absolute;
    bottom: -0.3125em;
    right: 1.25em;
    color: $sea-green;
    background-color: currentColor;
    box-shadow: 0 -5.25em 0 -0.375em $cranberry, -1.6875em -7.5em 0 -0.25em,
      0.875em -9.8125em 0 -0.6875em $cranberry;
  }
}

.shop__curvedPlantExtension {
  // stem
  position: absolute;
  bottom: -6.5625em;
  left: calc(-1.03125em - 0.25em);
  width: 0.5em;
  height: 5.875em;
  background-color: $jambalaya;
  z-index: -1;
}

.shop__curvedPlantExtensionLeaves {
  @include circle(3.125em);
  @include absolute-horizontal-center;
  top: 0.9375em;
  background-color: $jewel;

  // oblong
  &::before {
    content: "";
    @include absolute-horizontal-center;
    top: 3.75em;
    width: 2em;
    height: 4.25em;
    border-radius: 2em;
    background-color: inherit;
  }

  &::after {
    content: "";
    @include circle(1.5625em);
    position: absolute;
    top: 5em;
    left: -0.125em;
    background-color: $eucalyptus;
  }
}

.shop__roofPotFlower,
.shop__roofPotFlowerWrapper {
  position: absolute;
  width: 6.625em;
  height: 1.875em;
}

.shop__roofPotFlowerWrapper {
  top: -1.875em;
  left: 50%;
  transform: translateX(-50%);
}

.shop__roofPotFlower {
  background-color: $loulou;

  &:not(.shop__roofPotFlower--isSecond) {
    top: -1.875em;
  }

  // contents
  &::before {
    content: "";
    @include circle(1.65625em);
    position: absolute;
    top: -0.828125em;
    color: $killarney;
    background-color: currentColor;
    z-index: -1;
  }
}

.shop__roofPotFlower--isFirst {
  left: 1.125em;

  &::before {
    box-shadow: 1.65625em 0 $forest-green, calc(1.65625em * 2) 0 $forest-green,
      calc(1.65625em * 3) 0 $sunflower, 0.828125em -0.828125em $sunflower,
      calc(0.828125em * 3) -0.828125em, calc(0.828125em * 5) -0.828125em,
      calc(0.828125em * 2) calc(-0.828125em * 2) $green-pea,
      calc(0.828125em * 4) calc(-0.828125em * 2) $sunflower;
  }
}

.shop__roofPotFlower--isSecond {
  &::before {
    box-shadow: 1.65625em 0 $forest-green, calc(1.65625em * 2) 0 $forest-green,
      calc(1.65625em * 3) 0 $razzmatazz, 0.828125em -0.828125em,
      calc(0.828125em * 3) -0.828125em $razzmatazz,
      calc(0.828125em * 5) -0.828125em,
      calc(0.828125em * 2) calc(-0.828125em * 2) $green-pea,
      calc(0.828125em * 4) calc(-0.828125em * 2) $green-pea;
  }
}

.shop__roofPotFlower--isThird {
  right: 1.125em;

  &::before {
    box-shadow: 1.65625em 0 $sun, calc(1.65625em * 2) 0 $forest-green,
      calc(1.65625em * 3) 0 $sun, 0.828125em -0.828125em,
      calc(0.828125em * 3) -0.828125em, calc(0.828125em * 5) -0.828125em,
      calc(0.828125em * 2) calc(-0.828125em * 2) $green-pea,
      calc(0.828125em * 4) calc(-0.828125em * 2) $sun;
  }
}

.shop__roofCactusShapedPlant {
  position: absolute;
  left: 8.5625em;
  top: -3.125em;
  width: 2.375em;
  height: 3.125em;
  border-radius: 2.375em 2.375em 0 0;
  background-color: $fire-bush;
  box-shadow: 10.75em 0 $apple;
}

.shop__front {
  @include absolute-horizontal-center;
  bottom: calc(1.6875em + 0.9375em);
  width: 25em;
  height: 16.6875em;

  display: grid;
  grid-template-columns: 17.0625em 1fr;
  grid-column-gap: 1.0625em;
}

.shop__window {
  position: relative;
  width: 100%;
  height: 12.1875em;
  border: 0.5em solid $pewter;
  box-sizing: border-box;
  background-color: $racing-green;
  overflow: hidden;
  z-index: 1;

  // mirror shines
  &::before {
    content: "";
    @include mirror-shine;
    position: absolute;
    top: -7.875em;
    left: 6.625em;
    height: 300%;
    box-shadow: -9em 0 0, -10.5em 0 0 -0.625em, -1.875em 0 0 -0.625em,
      5em 0 0 -0.625em;
    z-index: 2;
  }
}

.shop__windowVines--isCurve {
  position: absolute;
  top: -6.3125em;
  left: -2.5em;
  width: 9.375em;
  height: 9.375em;
  border-radius: 50%;
  border: 0.375em solid $celtic;
  box-sizing: border-box;
  z-index: -1;

  &::before,
  &::after {
    content: "";
    position: inherit;
    width: inherit;
    height: inherit;
    border-radius: inherit;
    border: inherit;
    box-sizing: inherit;
  }

  &::before {
    top: -1.3125em;
    right: -4.0625em;
  }

  &::after {
    top: 1.5em;
    left: -0.875em;
  }
}

.shop__windowRedPlant {
  // container
  position: absolute;
  bottom: 0;
  width: 7.5em;
  height: 3.75em;
  z-index: 1;

  // big
  &::before {
    content: "";
    display: block;
    width: inherit;
    height: inherit;
    border-radius: 3.75em 3.75em 0 0;
    background-color: $espresso;
  }

  // small
  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: -1.25em;
    width: 5em;
    height: 2.5em;
    border-radius: 2.5em 2.5em 0 0;
    background-color: $moccaccino;
  }
}

.shop__windowRedPlantLeaves {
  position: absolute;
  top: -2.5em;
  left: 2.5625em;
  width: 1.125em;
  height: 3.125em;
  border-radius: 1.125em 0 0 1.125em;
  background-color: $killarney;
  z-index: -1;

  &::before,
  &::after {
    content: "";
    position: absolute;
    width: inherit;
    height: inherit;
    border-radius: inherit;
  }

  &::before {
    bottom: -0.3125em;
    left: -0.625em;
    transform: rotate(-30deg);
    background-color: $parsley;
  }

  &::after {
    bottom: -1.25em;
    left: -0.9375em;
    transform: rotate(-60deg);
    background-color: $everglade;
  }
}

.shop__windowRedPlantLeaves--isSecondGroup {
  left: unset;
  right: 2.5625em;
  transform: scaleX(-1);
}

.shop__windowPotFlower {
  // container
  position: absolute;
  bottom: 0;
  right: 3.75em;
  width: 2.875em;
  height: 2.375em;

  // pot
  &::before {
    content: "";
    position: relative;
    bottom: -0.1875em;
    display: block;
    width: inherit;
    height: inherit;
    background-color: $cape-cod;
    transform: perspective(0.625em) rotateX(-5deg);
    z-index: 1;
  }

  // base
  &::after {
    content: "";
    @include absolute-horizontal-center;
    top: -2.5em;
    width: 2.1875em;
    height: 3.75em;
    background-color: $mule-fawn;
    border-radius: 2.1875em;
  }
}

.shop__windowPotFlowerLeaves {
  // container
  position: absolute;
  top: -2.5625em;
  left: -0.4375em;
  width: 1.125em;
  height: 3.125em;
  z-index: 1;
  transform: rotate(15deg);

  // leaves
  &::before,
  &::after {
    content: "";
    position: absolute;
    width: inherit;
    height: inherit;
    border-radius: 1.125em 0 0 1.125em;
    background-color: $parsley;
  }

  &::before {
    top: -0.0625em;
    left: 0.03125em;
    transform: rotate(-45deg);
  }

  &::after {
    bottom: -0.625em;
    left: -0.125em;
    transform: rotate(-70deg);
    background-color: $everglade;
  }
}

.shop__windowPotFlowerLeaves--isSecondGroup {
  left: unset;
  right: -0.4375em;
  transform: rotate(-15deg) scaleX(-1);
}

.shop__windowVines--isStraight {
  // line
  position: absolute;
  right: 1.125em;
  width: 0.375em;
  height: 110%;
  background-color: $seaweed;

  // circles
  &::after {
    content: "";
    @include circle(1.25em);
    @include absolute-horizontal-center;
    bottom: 1.875em;
    color: $everglade;
    background-color: currentColor;
    box-shadow: 0 -1.875em, 0 -3.75em;
  }
}

.shop__windowBottom {
  grid-row: 2;
  width: 100%;
  height: calc(16.6875em - 12.1875em);
  display: flex;
  align-items: center;

  &::before {
    content: "";
    display: block;
    width: 100%;
    height: 2.9375em;
    box-sizing: border-box;
    border: 0.5em solid $viridian;
  }
}

.shop__door {
  grid-column: 2;
  grid-row: 1 / 3;
  position: relative;
  border: 0.5em solid $pewter;
  border-bottom: 0;
  background-color: $viridian;
}

.shop_doorInner {
  @include absolute-horizontal-center;
  top: 0.9375em;
  width: 4.5625em;
  height: 11.0625em;
  border-radius: 4.5625em 4.5625em 0 0;
  background-color: $racing-green;
  overflow: hidden;

  // circles
  &::before {
    content: "";
    @include circle(1.25em);
    @include absolute-horizontal-center;
    bottom: 1.25em;
    color: $everglade;
    background-color: currentColor;
    box-shadow: -1.25em -1.875em, 0 -3.75em, 1.25em -1.875em, -1.25em -5.625em,
      1.25em -5.625em;
    z-index: 1;
  }

  // lines
  &::after {
    content: "";
    @include absolute-horizontal-center;
    width: 0.375em;
    height: 110%;
    color: $seaweed;
    background-color: currentColor;
    box-shadow: 1.25em 0, -1.25em 0;
  }
}

.shop__doorMirrorShines {
  @include mirror-shine;
  position: absolute;
  top: -2.5em;
}

.shop__floor {
  position: absolute;
  @include absolute-horizontal-center;
  bottom: 0;
  width: calc(100% + 2.5em);
  height: 1.6875em;
  background-color: $comet;

  // shadow
  &::before {
    content: "";
    @include absolute-horizontal-center;
    top: -0.9375em;
    width: calc(100% - 2.5em);
    height: 0.9375em;
    background-color: $everglade;
  }
}

.shop__floorFlowerWrapper--isFirst {
  position: absolute;
  left: -0.625em;
  bottom: 1.6875em;
  width: 6.0625em;
  height: 3.125em;
  z-index: 1;
}

.shop__floorFlowerWrapper--isFirst .shop__floorPot {
  position: absolute;
  bottom: -0.125em;
  left: 50%;
  width: inherit;
  height: inherit;
  transform: translateX(-50%) perspective(0.625em) rotateX(-2deg);
  background-color: $finn;
}

.shop__floorFlowerWrapper--isFirst .shop__floorFlower {
  // base
  @include absolute-horizontal-center;
  @include circle(5em);
  background-color: $green-pea;
  top: -2.5em;

  // circles
  &::before {
    content: "";
    @include circle(1em);
    position: absolute;
    top: 1.875em;
    left: -0.5em;
    color: $flamingo;
    background-color: $apple;
    box-shadow: 5em 0 $lightning-yellow, 1.5625em -0.625em,
      3.4375em -0.625em $apple, 0.9375em -1.75em $lightning-yellow,
      4.0625em -1.75em, 2.5em -2.5em;
  }
}

.shop__floorFlowerWrapper--isSecond {
  position: absolute;
  bottom: 0;
  right: -6.5em;
  width: 5.625em;
  height: 5em;
  z-index: 1;

  // pot topmost
  &::before {
    content: "";
    @include absolute-horizontal-center;
    top: -0.5em;
    width: 6.875em;
    height: 0.625em;
    background-color: $mandy;
    border-radius: 0.625em;
    z-index: 1;
  }
}

.shop__floorFlowerWrapper--isSecond .shop__floorFlower {
  // base
  @include absolute-horizontal-center;
  top: -14.6875em;
  border-radius: 0.4375em;
  width: 0.4375em;
  height: 14.6875em;
  background-color: $gondola;

  // rounded leaves
  &::before {
    content: "";
    @include circle(4.375em);
    @include absolute-horizontal-center;
    bottom: -1.875em;
    color: $jewel;
    background-color: currentColor;
    box-shadow: 0 -3.625em 0 -0.625em, 0 -6.6875em 0 -1.375em $amaranth,
      0 -9.75em 0 -0.625em, 0 -12.6875em 0 -1.375em $amaranth,
      0 -14.5625em 0 -1.6875em;
  }
}

.shop__floorFlowerWrapper--isSecond .shop__floorPot {
  position: absolute;
  bottom: -0.3125em;
  left: 50%;
  width: inherit;
  height: inherit;
  transform: translateX(-50%) perspective(0.625em) rotateX(-2deg);
  background-color: $mojo;

  // shadow
  &::before {
    content: "";
    display: block;
    width: 50%;
    height: 100%;
    background-color: $chestnut-rose;
  }
}

.shop__floorPotFlower {
  // flowers
  @include circle(2.3125em);
  position: absolute;
  bottom: 2.625em;
  left: 11.25em;
  color: $chateau-green;
  background-color: currentColor;
  box-shadow: 1.875em 0, -1.875em 0;
  z-index: 1;

  &::before,
  &::after {
    content: "";
    @include absolute-horizontal-center;
  }

  // pot topmost
  &::before {
    bottom: 0.625em;
    width: 7.5em;
    height: 0.5625em;
    background-color: $mulberry;
    z-index: 1;
  }

  // pot
  &::after {
    width: 7.1875em;
    bottom: -0.9375em;
    height: 1.875em;
    background-color: $cannon-pink;
  }
}

.links {
  font-size: 1.5em;
  width: 8em;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 45px;

  display: flex;
  justify-content: space-between;
  
  @media screen and (max-height: 700px) {
    display: none;
  }
}

.link__item {
  text-decoration: none;
  position: relative;
  opacity: 0.3;
  transition: opacity 0.3s;

  &:hover {
    opacity: 1;
  }
}

.link__item--isActive {
  opacity: 1;
  pointer-events: none;
  cursor: default;
}

// Styles below for demonstration purposes only


.shop {
  // equally align with other Shop pens
  bottom: -4.5em;
  
  transform: scale(1);
}
}
.mobile-abholungs {
    display: none;
  }