.main-basket-container {
  .lists-container {
    .shipping-msg {
      font-size: 1.2rem;
    }

    .basket-list {
      width: 100%;
      li:nth-child(1) {
        h3 {
          font-size: 2rem;
        }
      }

      li {
        width: 10%;
        min-width: 14rem;
        margin-bottom: 0.75rem;

        .productCard-main-container {
          width: 100%;
          max-width: 15rem;
          margin-bottom: 1rem;
        }
      }
    }

    .wishlist-list {
      width: 100%;

      li:nth-child(1) {
        h3 {
          font-size: 1.6rem;
        }
      }

      li {
        @include flex;
        width: 10%;
        min-width: 14rem;
        margin-bottom: 0.75rem;

        .productCard-main-container {
          width: 100%;
          max-width: 15rem;
          margin-bottom: 1rem;
        }
      }
    }
  }
}
