.info-container {
  .contact-info {
    margin: 3% auto;
    flex-direction: row;
    justify-content: space-between;

    .phone,
    .mail,
    .location {
      width: 35%;
      max-width: 12rem;
      gap: 5%;
    }
  }
}

// Animated envelope setup

iframe {
  width: 30rem;
  height: 30rem;
}
