// Footer setup Laptop view

footer {
  position: relative;
  bottom: 0;

  //   margin-bottom: 5px;

  li {
    :hover {
      color: $dark-green;
    }
  }

  .logo-container {
    padding: 0;
  }
}
