.home {
  .wrapper-gallery {
    .wrapper-img-services {
      .container-gallery {
        h3 {
          font-size: 1.8rem;
        }

        .container-img-outer {
          grid-template-columns: 1fr 1fr 1fr;
          .container-img-inner {
            opacity: 0.8;
            img {
              width: 10rem;
              height: 10rem;
            }
            &:hover {
              transform: scale(1.25);
              transition: all 0.3s ease-in-out 0s;
              opacity: 1;
              z-index: 1;
            }
          }
        }

        button {
          font-size: 0.9rem;
          height: 3rem;
        }

        .container-more-blur {
          height: 3rem;
        }
      }
    }
  }
}
