.home {
  .wrapper-gallery {
    @include flex;
    flex-wrap: wrap;
    align-items: flex-start;
    max-width: 1500px;

    .wrapper-img-services {
      width: 50%;

      .container-gallery {
        width: 100%;

        .container-description {
          width: 70%;
          p {
            font-size: 1rem;
          }
        }

        h3 {
          font-size: 2rem;
        }

        .container-img-outer {
          .container-img-inner {
            width: 30%;
            height: 30%;
            margin-bottom: 3%;
            @include flex;
          }
        }

        button {
          width: 35%;
          height: 1.8rem;
          bottom: 1.8rem;

          font-size: 1rem;
          box-shadow: 0.3rem 0.3rem 0.8rem black;
        }

        .container-more-blur {
          width: 35%;
          height: 1.8rem;
          bottom: 1.8rem;
        }
      }
    }
  }
}
