.home {
  .wrapper-gallery {
    .wrapper-img-services {
      .container-gallery {
        h3 {
          font-size: 1.8rem;
        }

        .container-img-outer {
          grid-template-columns: 1fr 1fr 1fr;
          .container-img-inner {
            img {
              width: 10rem;
              height: 10rem;
            }
          }
        }

        button {
          font-size: 0.9rem;
          height: 3rem;
        }

        .container-more-blur {
          height: 3rem;
        }
      }
    }
  }
}
