.home {
  .home-top {
    .roof {
      border-width: 0 25vw 12vh;
    }
  }

  .wrapper-btn-house {
    width: 48vw;
  }

  .wrapper-cards {
    width: 48vw;

    .card-element {
      width: 45%;
      box-shadow: 0.75rem 0.75rem 1.5rem rgba(0, 0, 0);
    }

    // Card Bottom (Button)
    .container-bottom-btn {
      a {
        button {
          font-size: 0.85rem;
        }
      }
    }
  }

  .wrapper-event-section {
    .container-buttons-roof {
      .events,
      .container-contact-btn,
      .deco-services {
        width: 55vw;
      }
    }
  }
}
