.home {
  .wrapper-cards {
    @include flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1400px;

    .card-element {
      width: 25%;
      height: 50vh;
      margin: 2rem;
      box-shadow: 0.75rem 0.75rem 1.5rem rgba(0, 0, 0);
    }

    .card-top {
      h3 {
        font-size: 1.5rem;
        padding-left: 0.75rem;
      }
    }

    .container-description {
      p {
        font-size: 1.3rem;
      }
    }

    .container-image {
      img {
        width: 10rem;
        height: 10rem;
      }
    }
  }
}
