header {
    width: 100vw;
    height: auto;
    background-color: $cream;
    
}

.hamburger {
    animation-play-state: paused;
   
}
 
 .show {
     height: 100%;
 }

.laptop-setup {
    width: 90%;
    height: auto;
    padding: 0;
    background-color: $cream;
    @include flex;
    justify-content: space-around;
    animation-play-state: paused;
    
 
 ul {
    width: 65vw;
     animation-play-state: paused;
    
 }
 li {
     display: inline;
     color: $black;
     font-weight: bold;
     font-size: 1.2rem;
     margin-right: 1.3rem;
     list-style: none;
 }

 a {
    text-decoration: none;
    :hover {
        color: $dark-green;
    }
 }

}

.nav-top {
    width: 10vw;
    padding: 0;
    @include flex;
    justify-content: space-between;
    // flex-direction: row-reverse;
}

.logo {
   width: 10rem;
   height: 10rem;
}

// Ul display none
.user-none {
    height: 0;
    display: none;
    transition: 2s;
    overflow: hidden;
  }
  
  // Show nav setup
  .user-show {
    width: 20vw;
    height: 15vh;
    top: 6rem;
    left: 0;
    position: absolute;
    background-color: $cream;
    @include flex;
    border-radius: 5px;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-direction: column;
    z-index: 2;
    transition: 2s;
  }
  .nav-user {
    position: relative;
    left: 70vw;
    @include flex;
    justify-content: space-evenly;
   
    .userInfo {
    
       padding:0 10px;
       @include flex;
       align-items:center;
       justify-content: space-between;
       width:22%;
        
      }
     // Li setup
    li {
      padding-left: 1em;
      list-style: none;
      color: black;
      font-weight: bold;
      text-decoration: none;
      cursor: pointer;
    }
    :hover {
        color: $dark-green;
    }
  
  } 
 
   