.shop {
  .search-container {
    justify-content: center;

    .search-bar {
      width: 30%;
    }

    .filters {
      width: 30%;
    }
  }

  .products-container {
    h2 {
      padding-left: 2rem;
    }
    .products {
      justify-content: flex-start;

      .container-product {
        width: 25%;
        max-width: 250px;

        .product-icon {
          top: 1.5rem;
          right: 1.5rem;
        }
      }
    }
  }
}
