.single-page-product-details {
  .link-back {
    font-size: 1.4rem;
  }

  .productCard-main-container {
    margin: 0;
    width: 50%;
    max-width: 600px;

    .product-box {
      .product-infos {
        padding: 0;

        .product-buttons {
          width: 70%;
        }
      }
    }

    img {
      margin-top: 1rem;
    }
  }
}
