// Mixins

// @mixin name {
//   // your rules
// }

@mixin flex {
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin input {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 100%;
    height: 30px;
    border-radius: 7px;
    border: 1px solid $cream;
    outline: transparent;
    
}