// Variables

// fonts

$my-font: 'Poppins', cursive, sans-serif;

// colors
// $my-color: orange;

$cream: #fdf0be;
$orange: #ffb443;
$violet: #ff66c4;
$green: #88d467;
$blue: #00c2cb;
$red: #ff5757;
$dark-green: #327951;
$white: white;
$black: black;

// sizes

// others
