// Variables

// fonts

$my-font: 'Poppins', cursive, sans-serif;

// colors
// $my-color: orange;
$stromboli: #2d6548;
$everglade: #19432f;
$apple: #64b346;
$viridian: #468361;
$coconut-cream: #f7f2d5;
$salem: #0f8d44;
$sea-green: #28783b;
$cranberry: #d35376;
$jambalaya: #5b3713;
$jewel: #156132;
$eucalyptus: #26823f;
$loulou: #5d124a;
$killarney: #2b6533;
$forest-green: #1f7f37;
$sunflower: #eacb22;
$green-pea: #1a5127;
$razzmatazz: #df0d7b;
$sun: #fea817;
$fire-bush: #e39825;
$pewter: #a0b0a5;
$racing-green: #0d1d12;
$celtic: #122d17;
$espresso: #522714;
$moccaccino: #6b2213;
$parsley: #194e24;
$cape-cod: #303b35;
$mule-fawn: #905c2c;
$seaweed: #14391a;
$comet: #505374;
$finn: #6e2a63;
$flamingo: #ee4b28;
$lightning-yellow: #f9c72a;
$mandy: #e66373;
$gondola: #28131c;
$amaranth: #e51867;
$mojo: #bf3b48;
$chestnut-rose: #cf4b60;
$chateau-green: #3da449;
$mulberry: #bb5392;
$cannon-pink: #984571;
$half-spanish-white: #fef2dc;
//our
$white: #fff;
$cream: #fdf0be;
$orange: #ffb443;
$violet: #ff66c4;
$green: #88d467;
$blue: #00c2cb;
$red: #ff5757;
$dark-green: #327951;

$black: black;
$light-blue: rgba(0, 193, 203, 0.384);

// sizes

// others
