.home {
  margin-top: 5.5rem;
  .home-top {
    .roof {
      border-width: 0 40vw 10vh;
      margin: 1rem 0;
    }

    .tablet-width {
      border-width: 0 30vw 10vh;
      margin-bottom: 2rem;
    }

    .header-rental {
      font-size: 4.25rem;
    }

    .subheader-rental {
      width: 18rem;
      font-size: 1.6rem;
      margin-top: 3.5rem;
    }
  }

  .wrapper-btn-house {
    width: 80%;
  }

  .wrapper-cards {
    @include flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 80%;

    .card-element {
      width: 100%;
      min-width: 15rem;
      height: 35vh;
      margin: 2rem 0;
    }

    .card-top {
      h3 {
        font-size: 4vw;
        padding-left: 5%;
      }
    }

    .container-description {
      p {
        font-size: 3.5vw;
      }
    }

    // Card Bottom (Button)
    .container-bottom-btn {
      a {
        height: 60%;
        width: 50%;

        button {
          font-size: 2.5vw;
        }
      }
    }

    .container-image {
      img {
        width: 8rem;
        height: 8rem;
      }
    }

    @media screen and (min-width: 700px) {
      .container-description {
        p {
          font-size: 3vw;
        }
      }

      .container-bottom-btn {
        a {
          height: 60%;
          width: 50%;

          button {
            font-size: 2vw;
          }
        }
      }
    }
  }

  .wrapper-event-section {
    .container-buttons-roof {
      .container-contact-btn,
      .events,
      .deco-services {
        width: 60%;
      }
    }
  }
}
