.home {
  .h3-description {
    width: 75%;
    h3 {
      font-size: 1.5rem;
    }
  }

  .home-top {
    .roof {
      border-width: 0 40vw 10vh;
      margin: 1rem 0;
    }

    .tablet-width {
      border-width: 0 30vw 10vh;
      margin-bottom: 2rem;
    }

    .header-rental {
      font-size: 4.25rem;
    }

    .subheader-rental {
      width: 18rem;
      font-size: 1.6rem;
      margin-top: 3.5rem;
    }
  }

  .wrapper-btn-house {
    width: 80%;

    .container-btn-house {
      .container-categorys {
        font-size: 0.9rem;
      }
    }
  }

  .wrapper-cards {
    @include flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 80%;

    .card-element {
      width: 100%;
      margin: 2rem 0;
    }
  }

  .wrapper-event-section {
    .container-buttons-roof {
      .container-contact-btn,
      .events,
      .deco-services {
        width: 60%;
      }
    }
  }

  @media screen and (min-width: 660px) {
    .wrapper-btn-house {
      .container-btn-house {
        a {
          button {
            border-radius: 2rem;
          }

          .container-btn-blur {
            border-radius: 2rem;
          }
        }
      }
    }
    .card-element {
      .card-top {
        h3 {
          font-size: 1.3rem;
        }
      }

      .container-description {
        p {
          font-size: 1.15rem;
        }
      }

      .container-bottom-btn {
        width: 100%;
        height: 3.5rem;
        border-radius: 0 0 1em 1em;
        opacity: 80%;
        @include flex;
        justify-content: flex-end;

        // Card button setup

        a {
          button {
            padding: 0 1.5rem;
            width: 13rem;
            height: 1.85rem;
            background-color: rgba(255, 255, 255, 0.8);
            font-size: 1rem;
            margin-right: 1rem;
          }
        }
      }
    }
  }

  @media screen and (min-width: 750px) {
    .wrapper-cards {
      display: flex;
      justify-content: space-between;
      align-items: stretch;
      flex-wrap: wrap;
      width: 80%;
      height: auto;

      .card-element {
        width: 100%;
        margin: 2rem 0;
      }
    }
  }
}
