// Navigation setup for tablet

header nav {
    font-size: 1.7rem;
    padding: 1.5rem;
   
    .nav-top {
        padding: 2rem 1.5rem;
    }
}
.logo {
    width: 8rem;
    height: 8rem;
}
.show {
    height: 96vh;
}