.home {
  .wrapper-img-services {
    .container-gallery {
      h3 {
        margin-bottom: 0.75rem;
        font-size: 2.4rem;
      }

      button {
        width: 40%;
        height: 2.5rem;
        bottom: 3.5rem;
        border-radius: 0.5rem;
        font-size: 1.3rem;
        box-shadow: 0.2rem 0.2rem 0.8rem black;
      }
    }
  }
}
