.slider-wrapper {
  .container-btn-slider {
    .container-btn {
      width: 75%;
    }
    .container-shop-header {
      width: 65%;
    }

    @media screen and (min-width: 680px) {
      .container-btn {
        a {
          button {
            font-size: 1.1rem;
            border-radius: 2rem;
          }
          .blur-btn {
            border-radius: 2rem;
          }
        }
      }
      .container-shop-header {
        h1,
        h2 {
          font-size: 2.2rem;
        }
      }
    }

    @media screen and (min-width: 920px) {
      .container-btn {
        width: 70%;
        a {
          button {
            font-size: 1.35rem;
            border-radius: 2.5rem;
          }
          .blur-btn {
            border-radius: 2.5rem;
          }
        }
      }
      .container-shop-header {
        width: 55%;

        h1,
        h2 {
          font-size: 2.2rem;
        }
      }
    }
  }
}
