.products-container {
  h2 {
    padding-left: 2rem;
  }
  .products {
    justify-content: space-evenly;

    .container-product {
      width: 33%;
    }
  }
}

.search-container {
  @include flex();
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 0.75rem;

  .search-bar {
    width: 50%;
    height: auto;
    @include flex;
    border: 2px solid black;
    margin-bottom: 1rem;
    border-radius: 1rem;

    .search-icon {
      margin-left: 0.5rem;
    }

    input {
      margin: 1px 0.5rem;
      border: transparent;
    }
  }
}

.filters {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  width: 95%;

  div {
    @include flex;

    select {
      border: 2px solid black;
      border-radius: 1rem;
      padding: 0 0.5rem;
      text-overflow: ellipsis;
      margin-left: 0.2rem;
      width: 60%;
    }
  }
}
