.slider-wrapper {
  .container-btn-slider {
    .container-btn {
      width: 75%;
    }
    .container-shop-header {
      width: 65%;
    }

    @media screen and (min-width: 680px) {
      .container-btn {
        button {
          height: 2.8rem;
          font-size: 1.1rem;
          border-radius: 2rem;
        }
        .blur-btn {
          height: 2.8rem;
          border-radius: 2rem;
        }
      }
      .container-shop-header {
        h1,
        h2 {
          font-size: 2.2rem;
        }
      }
    }

    @media screen and (min-width: 920px) {
      .container-btn {
        width: 70%;
        button {
          height: 3.2rem;
          font-size: 1.5rem;
          border-radius: 2rem;
        }
        .blur-btn {
          height: 3.2rem;
          border-radius: 2rem;
        }
      }
      .container-shop-header {
        width: 55%;

        h1,
        h2 {
          font-size: 2.2rem;
        }
      }
    }
  }
}
